html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  header, footer {
    background-color: #ccc;
    padding: 1rem;
    text-align: center;
    position: relative;
  }
  