<header [style.background-color]="menuColor">Header</header>

<div class="layout">
  <nav class="sidebar-left">
    <div class="menu-item" (click)="changeColor('red')" style="cursor:pointer;">Red</div>
    <div class="menu-item" (click)="changeColor('blue')" style="cursor:pointer;">Blue</div>
    <div class="menu-item" (click)="changeColor('green')" style="cursor:pointer;">Green</div>
  </nav>

  <main class="body-content">
    <router-outlet></router-outlet>
  </main>

  <nav class="sidebar-right">
    Sidebar Right
  </nav>
</div>

<footer [style.background-color]="menuColor">Footer</footer>
